version: '3.8'

services:
  client:
    build:
      # Поскольку docker-compose не в корне client,
      # нужно указать context с путём до client относительно docker-compose
      context: ../client
      # Путь до Dockerfile здесь указывается относительно context
      dockerfile: ../dev-config/Dockerfile.client
    ports:
      - '5173:5173'

    volumes:
      # Связываем локальную директорию с директорией в контейнере для hot reload'а
      - ../client:/usr/app:z
      - /usr/app/node_modules

    environment:
      - MODE=develop 

  server:
    build:
      context: ../server
      dockerfile: '../dev-config/Dockerfile.server'
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/mydb?sslmode=disable
      POSTGRES_DB: mydb        
      POSTGRES_USER: user      
      POSTGRES_PASSWORD: password
      DB_HOST: postgres 
    ports:
      - 8040:8040
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./backups:/root/backups:z
        
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - 5443:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    volumes:
      - ../server/migrations:/migrations:z
    command:
      - -path=/migrations
      - -database=postgres://user:password@postgres:5432/mydb?sslmode=disable
      - up
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:latest
    restart: always
    command: ['redis-server', '--requirepass', 'admin12345']
    environment:
      - REDIS_DB_PASSWORD=admin12345
    ports:
      - 6399:6379
