# version: '3.8'
# services:
  # client:
  #   build:
  #     # Поскольку docker-compose не в корне client,
  #     # нужно указать context с путём до client относительно docker-compose
  #     context: ../client
  #     # Путь до Dockerfile здесь указывается относительно context
  #     dockerfile: ../dev-config/Dockerfile.client
  #   ports:
  #     - '5173:5173'

  #   volumes:
  #     # Связываем локальную директорию с директорией в контейнере для hot reload'а
  #     - ../client:/usr/app
  #     - /usr/app/node_modules

  #   environment:
  #     - MODE=develop

  #   command: bash -c "npm install && npm run dev"
  # auth-service:
  #   build:
  #     context: ../server/auth-service
  #     dockerfile: ./Dockerfile
  #   command: ./wait-for-db.sh auth-postgres ./auth-service
  #   environment:
  #     - PG_DB_PASSWORD=qwerty
  #   ports:
  #     - 3010:3010
  #   depends_on:
  #     - auth-postgres
  # auth-postgres:
  #   restart: always
  #   image: postgres:latest
  #   environment:
  #     - POSTGRES_PASSWORD=qwerty
  #   ports:
  #     - 3310:5432
  # user-service:
  #   build:
  #     context: ../server/user-service
  #     dockerfile: ./Dockerfile
  #   command: ./wait-for-db.sh user-postgres ./user-service
  #   environment:
  #     - PG_DB_PASSWORD=qwerty
  #   ports:
  #     - 3040:3040
  #   depends_on:
  #     - user-postgres
  # user-postgres:
  #   restart: always
  #   image: postgres:latest
  #   environment:
  #     - POSTGRES_PASSWORD=qwerty
  #   ports:
  #     - 3340:5432
  # chat-service:
  #   build:
  #     context: ../server/chat-service
  #     dockerfile: ./Dockerfile
  #   command: ./wait-for-db.sh chat-postgres ./chat-service
  #   environment:
  #     - PG_DB_PASSWORD=qwerty
  #   ports:
  #     - 8040:8040
  #   depends_on:
  #     - chat-postgres
  # chat-postgres:
  #   restart: always
  #   image: postgres:latest
  #   environment:
  #     - POSTGRES_PASSWORD=qwerty
  #   ports:
  #     - 3320:5432

version: '3.8'

services:
  gateway:
    image: nginx:latest
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - auth-service
      - users-service-1
      - users-service-2
      - chats-service

  auth-service:
    build:
      context: ../server/auth-service
      dockerfile: ./Dockerfile
    command: ./wait-for-db.sh auth-postgres ./auth-service
    environment:
      - PG_DB_PASSWORD=qwerty
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=authdb
    ports:
      - 3010:3010
    depends_on:
      - auth-postgres

  auth-postgres:
    restart: always
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=authdb
    ports:
      - 3310:5432
    volumes:
      - auth-db-data:/var/lib/postgresql/data

  user-service-1:
    build:
      context: ../server/auth-service
      dockerfile: ./Dockerfile
    command: ./wait-for-db.sh auth-postgres ./auth-service
    environment:
      - PG_DB_PASSWORD=qwerty
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=authdb
    ports:
      - 3010:3010
    depends_on:
      - auth-postgres

  user-service-2:
    build:
      context: ../server/auth-service
      dockerfile: ./Dockerfile
    command: ./wait-for-db.sh auth-postgres ./auth-service
    environment:
      - PG_DB_PASSWORD=qwerty
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=authdb
    ports:
      - 3010:3010
    depends_on:
      - auth-postgres

  user-postgres:
    restart: always
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=authdb
    ports:
      - 3310:5432
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    
  chat-service:
    build:
      context: ../server/auth-service
      dockerfile: ./Dockerfile
    command: ./wait-for-db.sh auth-postgres ./auth-service
    environment:
      - PG_DB_PASSWORD=qwerty
      - DB_HOST=auth-db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=authdb
    ports:
      - 3010:3010
    depends_on:
      - auth-postgres

  chat-postgres:
    restart: always
    image: postgres:latest
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=authdb
    ports:
      - 3310:5432
    volumes:
      - auth-db-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - auth-postgres
      - users-postgres
      - chats-postgres

volumes:
  auth-postgres:
  users-postgres:
  chats-postgres:
