@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body,
html,
#root {
  height: 100dvh;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.main {
  grid-area: main;
}

.abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
